<h2>You scheduled to have a ghost busted!</h2>
<%= @appt.ghostbuster.name %> will be at <%= @appt.address %><br>
on <%= @appt.time.strftime('%A, %d %b %Y, at %l:%M %p') %><br>
To bust <%= @ghost.name %>
